{% extends "base/base_menu.html" %}
{% load staticfiles %}
{% block title %}Plataforma de Tutorias{% endblock title %}


{% block contenido %}
<article class="row">
	<div class="small-12 columns text-center show-for-small-only">
		<h2>
			Bienvenido a la Plataforma de Tutorias
		</h2>
		<h5>
			Esta plataforma te servirá para darle seguimiento a tu programa de tutorias.
		</h5>
	</div>
</article>

<section id="fondotec">
	<article class="row show-for-medium padding">
		<div class="small-12 medium-7 large-4 columns">
			<h2>
				Bienvenido a la Plataforma de Tutorias
			</h2>
			<h5>
				Esta plataforma te servirá para darle seguimiento a tu programa de tutorias.
			</h5>
			<form method="post" action="/login/" class="padding-top">{% csrf_token %}
			<div class="row">
				<div class="small-6 columns">
				<input type="text" placeholder="Número de Control"  name="username" required/>
				</div>
				<div class="small-6 columns">
				<input type="password" placeholder="Contraseña"  name="password" required />
				</div>
				<div class="small-12 small-centered columns">
					<button class="button expanded success">
						Iniciar Sesión
					</button>
				</div>
			</div>
			 </form>
		</div>
	</article>
</section>

<article class="row">
	<div class="small-12 columns text-center show-for-small-only padding-top">
	<a href="/login/" class="button success">Iniciar Sesión</a>
	</div>
</article>

<section class="row padding-top">
	<article class="small-12 medium-10 large-8 columns medium-centered">

		<h2 class="padding-top text-center">¿CÓMO TRABAJAR EN LA PLATAFORMA DE TUTORIAS TUTOTECNM?</h2>

		<div class="row padding-top">
			<div class="small-12 medium-6 columns wow fadeInLeft" data-wow-duration="2s" data-wow-delay="1s">
				<img src="{% static "img/index1.png" %}" alt="" width="300" height="150"/>
			</div>
			<div class="small-12 medium-6 columns">
				<h3>¿Cómo ingresar a la Plataforma de Tutorias?</h3>
				<hr>
				<p>
					En esta plataforma podrás ingresar con tu usuario y contraseña, los cuales en un principio serán ambos tu número de control.
				</p>
				<blockquote cite="#">
					Nota: Tu contraseña la podrás cambiar posteriormente.
				</blockquote>
			</div>

			<hr class="padding-top">

			<div class="small-12 medium-6 columns padding-top">
				<h3>Llenado de los anexos</h3>
				<hr>
				<p>
					Realiza paso a paso el llenado de los anexos ya que se encuentran de una forma práctica y sencilla para poder completarlos.
				</p>
			</div>
			<div class="small-12 medium-6 columns padding-top wow fadeInRight" data-wow-duration="2s" data-wow-delay="1s">
				<img src="{% static "img/index2.png" %}" alt="" width="300" height="150"/>
			</div>
		</div>

		<hr class="padding-top">

		<div class="small-12 medium-6 columns padding-top wow fadeInLeft" data-wow-duration="2s" data-wow-delay="1s">
			<img src="{% static "img/index3.png" %}" alt="" width="300" height="150"/>
		</div>
			<div class="small-12 medium-6 columns padding-top">
				<h3>Actividades</h3>
				<hr>
				<p>
					Habrá una serie de actividades que tendrás que contestar para terminar con éxito tu Programa de Tutorias.
				</p>
			</div>

		<hr class="padding-top">

		<div class="small-12 medium-6 columns padding-top">
			<h3>Monitorea tus avances</h3>
			<hr>
			<p>
				Podrás visualizar tus avances, actividades pendientes, progreso en tus anexos e incluso ponerte en contacto con tu tutor.
			</p>
		</div>
		<div class="small-12 medium-6 columns padding-top wow fadeInRight" data-wow-duration="2s" data-wow-delay="1s">
			<img src="{% static "img/index4.png" %}" alt="" width="300" height="150"/>
		</div>
	</div>

		</div>
	</article>
</section>

{% endblock contenido %}

{% block masjs %}
<script src="{% static "js/vendor/wow.min.js" %}">

</script>
{% endblock masjs %}

{% block scriptjs %}
<script>
new WOW().init();
</script>
{% endblock scriptjs %}
