<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Tutorias{% endblock title %}</title>
</head>
<body>
	<ul>
		<li><a href="/">inicio</a></li>
		<li><a href="/login">login</a></li>
		<li><a href="/registro">registro</a></li>
		<li><a href="/recovery_passwd">recovery_passwd</a></li>
		<li><a href="/alumno/perfil">perfil</a></li>
		
	</ul>
	<h1>hola mundo, hola {{nombre}}</h1>
	{% block contenido %}
		
	{% endblock contenido %}
</body>
</html>