{% extends "base/basefn.html" %}
{% block title %}Tutorias{% endblock title %}


	{% block contenido %}
	<header class="row">
		<nav class="medium-8 medium-centered columns">
			<ul class="menu">
			<li><a href="/">inicio</a></li>
			<li><a href="/login">login</a></li>
			<li><a href="/registro">registro</a></li>
			<li><a href="/recovery_passwd">recovery_passwd</a></li>
			<li><a href="/alumno/perfil">perfil</a></li>
			
			</ul>
		</nav>
		
		<h1 class="text-center">hola mundo, hola {{user.username}}</h1>
		
	</header>
	
	
	{% endblock contenido %}
