{% extends "base/base_anexo.html" %}
{% load staticfiles %}
{% block title %}Anexo 11 - Habilidades de Estudio{% endblock title %}
{% block contenido %}
<header class="row">
  <section class="small-12 medium-8 large-8 medium-centered text-center padding-top">
      <h2>Anexo 11</h2>
      <h3>Habilidades de Estudio</h3>
      <h4>Selecciona la parte del anexo 11 que deseas completar.</h4>
  </section>
</header>

<section class="row hide-for-small-only">
  <div class="small-12 medium-11 large-11 medium-centered text-center padding-top">
  <ol class="progress progress--medium">

    <li class="is-complete" data-step="1">
      <a href="/anexo11/parte1">Organización de Estudio</a>
    </li>
    <li class="is-active" data-step="2">
      <a href="/anexo11/parte2">Técnicas de Estudio</a>
    </li>
    <li class="progress__last" data-step="3">
      <a href="/anexo11/parte3">Motivación de Estudio</a>
    </li>
  </ol>
  </div>
</section>


<section class="row show-for-small-only">
  <div class="small-12 medium-8 large-8 medium-centered text-center padding-top">
  <ol class="progress">
    <li class="is-complete" data-step="1">
      <a href="/anexo11/parte1" class="progress--small">Organización de Estudio</a>
    </li>
    <li class="is-active" data-step="2">
      <a href="/anexo11/parte2" class="progress--small">Técnicas de Estudio</a>
    </li>
    <li class="progress__last" data-step="3">
      <a href="/anexo11/parte3" class="progress--small">Motivación de Estudio</a>
    </li>
  </ol>
  </div>
</section>

{% endblock contenido %}
