{% extends "base/base_menu.html" %}
{% load staticfiles %}
{% block title %} Bienvenido al sistema de tutorias{% endblock title %}
{% block contenido %}

<section class="row">
  <div class="small-12 medium-6 large-4 medium-centered large-centered columns padding-top">
    <h1>Bienvenido a tu Página Principal</h1>
    {% if user.is_staff %}  {{user.username}}
        {% else %}          {{user.first_name}} | {{user.username}}
    {% endif %}
     
    
    <br>
    <h3><a href="/actividades/">Actividades Pendientes</a></h3>
    <br>
    <h3>Progreso de los Anexos</h3>
  </div>
</section>


{% endblock contenido %}
