{% extends "base/base_anexo.html" %}
{% load staticfiles %}
{% block title %}Anexo 9 - Linea de la Vida{% endblock title %}
{% block contenido %}
<header class="row">
  <div class="small-12 medium-8 large-8 medium-centered text-center padding-top">
    <h2>LÍNEA DE LA VIDA</h2>
    <h4>Selecciona la opción que desees.</h4>
  </div>
</header>
<section class="row padding-top">
  <article class="small-12 columns medium-6 large-6 text-center callout padding-top">
    <a href="etapas">
      <h3><i class="it-add"></i></h3>
      <h2>Agregar Suceso</h2>
    </a>
  </article>
  <article class="small-12 columns medium-6 large-6 text-center callout padding-top">
  <a href="grafica">
    <h3><i class="it-stats-dots"></i></h3>
    <h2>Ver Gráfica</h2>
  </a>
  </article>
</section>


{% endblock contenido %}
