{% extends "base/base_anexo.html" %}
{% load staticfiles %}
{% block title %}Anexo 9 - Etapas{% endblock title %}
{% block contenido %}

<header class="row">
  <div class="small-12 medium-8 large-8 medium-centered text-center padding-top">
    <h2>Línea de la Vida - Etapas</h2>
  </div>
</header>

<section class="row padding-top">
    <article class="small-12 columns medium-6 large-6 text-center callout padding-top" >
      <a href="nuevo_suceso">

          <img src="{% static "img/etapas/mujer1.png" %}" alt=""  height="50" width="50"/>
        
        <h2>De 0 a 5 Años</h2>
      </a>
    </article>
    <article class="small-12 columns medium-6 large-6 text-center callout padding-top">
      <a href="nuevo_suceso">

          <img src="{% static "img/etapas/mujer2.png" %}" alt=""  height="50" width="50"/>
        
        <h2>De 6 a 10 Años</h2>
      </a>
    </article>
    <article class="small-12 columns medium-6 large-6 text-center callout padding-top">
      <a href="nuevo_suceso">

          <img src="{% static "img/etapas/mujer3.png" %}" alt=""  height="50" width="50"/>
        
        <h2>De 11 a 15 Años</h2>
      </a>
    </article>
    <article class="small-12 columns medium-6 large-6 text-center callout padding-top">
      <a href="nuevo_suceso">

          <img src="{% static "img/etapas/mujer4.png" %}" alt=""  height="50" width="50"/>
        
        <h2>De 15 en adelante</h2>
      </a>
    </article>
</section>
{% endblock contenido %}
