{% extends "base/base_anexo.html" %}
{% load staticfiles %}
{% block title %}Anexo 9 - Nuevo Suceso{% endblock title %}
{% block contenido %}
<header class="row padding-top">
  <div class="small-12 medium-8 large-8 medium-centered text-center columns">
    <h2>Línea de la Vida</h2>
  </div>
</header>

<section class="row">
  <section class="small-12 medium-7 large-7 text-center columns">
    <h3>Agregar Suceso</h3>

      <form class="" action="#" method="post">{% csrf_token %}
          <section class="row padding-top">
            <div class="small-12 medium-6 large-6 text-center columns">
              <h4>Suceso:</h4>
            </div>
            <div class="small-12 medium-6 large-6 text-center columns">
              <input type="text" name="name" value="">
            </div>
            <div class="small-12 medium-6 large-6 text-center columns">
              <h4>Estado de ánimo:</h4>
            </div>
            <div class="small-12 medium-6 large-6 text-center columns">
                <select>
                  <option value="2">Muy Feliz</option>
                  <option value="1">Feliz</option>
                  <option value="0">Neutro</option>
                  <option value="-1">Triste</option>
                  <option value="-2">Muy Triste</option>
                </select>
            </div>
            <div class="small-9 medium-9 large-9 columns">
              <div class="slider" data-slider data-initial-start="0" data-step="0.5" data-end="5">
                <span class="slider-handle"  data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutput2"></span>
                <span class="slider-fill" data-slider-fill></span>
              </div>
            </div>
            <div class="small-2 medium-2 large-2 columns">
              <input type="number" id="sliderOutput2">
            </div>
            <div class="small-1 medium-1 large-1 columns">
              <h4>años</h4>
            </div>
            <div class="small-12 medium-12 large-12 medium-centered columns">
            <input class="button" type="submit" name="name" value="Añadir a la lista">
            </div>
          </section>
      </form>

  </section>
  <section class="small-12 medium-5 large-5 text-center columns">
    <label>Descripción:</label>
    <label>Estado de Animo:</label>
    <label>Edad:</label>
  </section>
</section>
{% endblock contenido %}
