{% extends "base/base_menu.html" %}
{% load staticfiles %}
{% block title %}Lista de Anexos{% endblock title %}
{% block contenido %}
	<header class="row">
		<div class="small-12 medium-6 large-4 medium-centered columns text-center">
			<h2>Lista de Anexos</h2>
		</div>
	</header>
	<section class="row">
	<div class="small-up-2 medium-up-3 large-up-4 small-centered">

	<div class="column text-center padding-top callout">
    <img src="{% static "img/1.png" %}" class="thumbnail" alt="">
		<div class="callout">
			<h3>Anexo 6</h3>
			<hr>
			<p>Linea de la vida</p>
    </div>
  </div>

	<div class="column text-center padding-top callout">
    <img src="{% static "img/2.png" %}" class="thumbnail" alt="">
		<div class="callout">
			<h3>Anexo 7</h3>
			<hr>
			<p>Datos Generales</p>
    </div>
  </div>

		<hr class="show-for-small-only">

	<div class="column text-center padding-top callout">
	  <img src="{% static "img/3.png" %}" class="thumbnail" alt="">
		<div class="callout">
			<h3>Anexo 8</h3>
			<hr>
			<p>Datos Generales</p>
    </div>
	</div>

			<hr class="show-for-medium-only">

	<div class="column text-center padding-top callout">
    <img src="{% static "img/interview.png" %}" class="thumbnail" alt="">
		<div class="callout">
			<h3>Anexo 9</h3>
			<hr>
			<p>Datos Generales</p>
    </div>
	</div>

	<hr class="show-for-large">
	<hr class="show-for-small-only">

	<div class="column text-center  padding-top callout">
		<img src="{% static "img/1.png" %}" class="thumbnail" alt="">
		<div class="callout">
			<h3>Anexo 10</h3>
			<hr>
			<p>Linea de la vida</p>
    </div>
  </div>

  <div class="column text-center padding-top callout">
    <img src="{% static "img/2.png" %}" class="thumbnail" alt="">
		<div class="callout">
			<h3>Anexo 11</h3>
			<hr>
			<p>Linea de la vida</p>
    </div>
	</div>

		<hr class="show-for-small-only">
		<hr class="show-for-medium-only">

  <div class="column text-center padding-top callout">
    <img src="{% static "img/3.png" %}" class="thumbnail" alt="">
		<div class="callout">
			<h3>Anexo 12</h3>
			<hr>
			<p>Linea de la vida</p>
    </div>
	</div>

  <div class="column text-center padding-top callout">
    <img src="{% static "img/interview.png" %}" class="thumbnail" alt="">
		<div class="callout">
			<h3>Anexo 13</h3>
			<hr>
			<p>Linea de la vida</p>
    </div>
	</div>

</div>
	</section>

{% endblock contenido %}
