{% extends "base/base_menu.html" %}
{% load staticfiles %}
{% block title %}Lista de Anexos{% endblock title %}
{% block contenido %}
	<header class="row" >
		<div class="small-12 medium-6 large-4 medium-centered columns text-center">
			<h2>Lista de Anexos</h2>
		</div>
	</header>
	<section class="row" data-equalizer="fuera" data-equalize-on="small">
	<div class="small-up-2 medium-up-3 large-up-4 small-centered columns">

	<div class="columns text-center padding-top callout " data-equalizer-watch="fuera">
			<div class="avatar-container p-5">
				<a href="/anexo6/parte1">
					<img class="avatar thumbnail" src="{% static "img/anexo6.png" %}"  alt="">
				</a>
			</div>

			<div class="callout ">
				<a href="/anexo6/parte1">
					<h3>Anexo 6</h3>
				</a>
				<hr>
				<p>Ficha de identificación del tutorado</p>
	    </div>
  </div>

	<div class="columns text-center padding-top callout " data-equalizer-watch="fuera">
		<div class="avatar-container p-4">
			<a href="/anexo8/partes">
				<img class="avatar thumbnail" src="{% static "img/anexo8.png" %}"  alt="">
			</a>
		</div>
		<div class="callout ">
			<a href="/anexo8/partes">
				<h3>Anexo 8</h3>
			</a>
			<hr>
			<p>Formato de entrevista</p>
    </div>
  </div>

		<hr class="show-for-small-only">

	<div class="columns text-center padding-top callout " data-equalizer-watch="fuera">
		<div class="avatar-container p-3">
			<a href="/anexo13/hola">
				<img class="avatar thumbnail" src="{% static "img/anexo9.png" %}"  alt="">
			</a>
		</div>
		<div class="callout ">
			<a href="/anexo13/hola">
				<h3>Anexo 9</h3>
			</a>
			<hr>
			<p>Linea de la vida</p>
    </div>
	</div>

			<hr class="show-for-medium-only">

	<div class="columns text-center padding-top callout " data-equalizer-watch="fuera">
		<div class="avatar-container p-7">
			<a href="/anexo10/foda">
				<img class="avatar thumbnail" src="{% static "img/anexo10.png" %}"  alt="">
			</a>
		</div>
		<div class="callout ">
			<a href="/anexo10/foda">
				<h3>Anexo 10</h3>
			</a>
			<hr>
			<p>FODA</p>
    </div>
	</div>

	<hr class="show-for-large">
	<hr class="show-for-small-only">

	<div class="columns text-center  padding-top callout " data-equalizer-watch="fuera">
		<div class="avatar-container p-8">
			<a href="/anexo11/partes">
				<img class="avatar thumbnail" src="{% static "img/anexo11.png" %}"  alt="">
			</a>
		</div>
		<div class="callout ">
		<a href="/anexo11/partes">
			<h3>Anexo 11</h3>
		</a>
			<hr>
			<p>Habilidades de estudio</p>
    </div>
  </div>

  <div class="columns text-center padding-top callout " data-equalizer-watch="fuera">
		<div class="avatar-container p-3">
			<a href="/anexo13/hola">
				<img class="avatar thumbnail" src="{% static "img/anexo12.png" %}"  alt="">
			</a>
		</div>
		<div class="callout ">
			<a href="/anexo13/hola">
				<h3>Anexo 12</h3>
			</a>
			<hr>
			<p>Test de autoestima</p>
    </div>
	</div>

		<hr class="show-for-small-only">
		<hr class="show-for-medium-only">

  <div class="columns text-center padding-top callout " data-equalizer-watch="fuera">
		<div class="avatar-container p-2">
			<a href="/anexo13/asertividad">
				<img class="avatar thumbnail" src="{% static "img/anexo13.jpg" %}"  alt="">
			</a>
		</div>
		<div class="callout ">
		<a href="/anexo13/asertividad">
			<h3>Anexo 13</h3>
		</a>
			<hr>
			<p>Test de asertividad</p>
    </div>
	</div>

  <div class="columns text-center padding-top callout " data-equalizer-watch="fuera">
		<div class="avatar-container p-1">
			<a href="/anexo13/hola">
				<img class="avatar thumbnail" src="{% static "img/anexo15.png" %}"  alt="">
			</a>
		</div>
		<div class="callout ">
			<a href="/anexo13/hola">
				<h3>Anexo 15</h3>
			</a>
			<hr>
			<p>Formato de registro para desempeño académico</p>
    </div>
	</div>

</div>
	</section>

{% endblock contenido %}
