{% extends "base/base_menu.html" %}

{% block contenido %}

<section class="row">
  <header class="small-12 medium-8 medium-centered columns text-center">
  <h1>Resultado del Anexo {{Anexo.numero}}</h1>
  <h2>{{Anexo.titulo}}</h2>
  </header>
  <div class="small-12 medium-8 medium-centered columns text-center">
    <div class="callout">
      <p>Descripción: {{Anexo.descripcion}}</p>
      <p>Diagnóstico: {{mensaje}}</p>
    </div>

  </div>


</section>
<section class="row">
  <article class="small-12 medium-8 medium-centered columns">
  <form action=".">
    <label for="Comentarios">Comentarios
      <textarea name="comentarios" rows="2" cols="40" placeholder="Introduce tus Comentarios"></textarea>
    </label>
    <button class="button" type="submit">ENVIAR</button>
  </form>
  </article>
</section>

{% endblock contenido %}
