{% extends "base/base_anexo.html" %}
{% block title %}
    Gracias
{% endblock title %}
{% block contenido %}

<section class="columns row">

    <div class="panel text-center">
        <h2 class="icon-success"><i class="it-checkmark"></i></h2>
        <h3>
            Felicidades has terminado el Anexo {{anexoNum}} {% if anexoParteNum %}Parte {{anexoParteNum}}{% endif %}
        </h3>
        <h4>Para seguir contestando dale clic aquí abajo</h4>
        <p><a href="{{siguienteTestURL}}">SIGUIENTE</a></p>

    </div>


</section>


{% endblock contenido %}
