{% extends "base/base_anexo.html" %}
{% load staticfiles %}
{% block title %}Anexo 8 - Formato Entrevista{% endblock title %}
{% block contenido %}
<header class="row">
  <section class="small-12 medium-8 large-8 medium-centered text-center padding-top">
      <h2>Anexo 8</h2>
      <h3>Formato de Entrevista</h3>
      <h4>Selecciona la parte del anexo 8 que deseas completar.</h4>
  </section>
</header>

<section class="row hide-for-small-only">
  <div class="small-12 medium-11 large-11 medium-centered text-center padding-top">
  <ol class="progress progress--medium">
    <li class="is-complete" data-step="1">
      <a href="/anexo8/parte1">Formato Entrevista</a>
    </li>
    <li class="is-active" data-step="2">
      <a href="/anexo8/parte2">Estado Psicofisio.</a>
    </li>
    <li class="" data-step="3">
      <a href="/anexo8/parte3">Datos de Hermanos</a>
    </li>
    <li class="" data-step="4">
      <a href="/anexo8/parte4">Área Integración</a>
    </li>
    <li class="" data-step="5">
      <a href="/anexo8/parte5">Caract. Personales</a>
    </li>
    <li class="" data-step="6">
      <a href="/anexo8/parte6">Área Psicoped.</a>
    </li>
    <li class="progress__last" data-step="7">
      <a href="/anexo8/parte7">Plan de Vida</a>
    </li>
  </ol>
  </div>
</section>


<section class="row show-for-small-only">
  <div class="small-12 medium-8 large-8 medium-centered text-center padding-top">
  <ol class="progress">
    <li class="is-complete" data-step="1">
      <a href="/anexo8/parte1" class="progress--small">Formato Entrevista</a>
    </li>
    <li class="is-active" data-step="2">
      <a href="/anexo8/parte2" class="progress--small">Estado Psicofisio.</a>
    </li>
    <li class="" data-step="3">
      <a href="/anexo8/parte3" class="progress--small">Datos de Hermanos</a>
    </li>
    <li class="" data-step="4">
      <a href="/anexo8/parte4" class="progress--small">Área Integración</a>
    </li>
    <li class="" data-step="5">
      <a href="/anexo8/parte5" class="progress--small">Caract. Personales</a>
    </li>
    <li class="" data-step="6">
      <a href="/anexo8/parte6" class="progress--small">Área Psicoped.</a>
    </li>
    <li class="progress__last" data-step="7">
      <a href="/anexo8/parte7" class="progress--small">Plan de Vida</a>
    </li>
  </ol>
  </div>
</section>

{% endblock contenido %}
