<!doctype html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Tutorias{% endblock title %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/vendor/foundation.css"%}" />
    <link rel="stylesheet" href="{% static "css/src/main.css"%}" />
    {% block mascss %}
      
    {% endblock mascss %}
  </head>
  <body>
    {% block header %}
      
    {% endblock header %}


    {% block contenido %}
      
    {% endblock contenido %}


    {% block footer %}
      
    {% endblock footer %}

    <script src="{% static "js/vendor/jquery.min.js"%}"></script>
    <script src="{% static "js/vendor/what-input.min.js"%}"></script>
    <script src="{% static "js/vendor/foundation.min.js"%}"></script>

    {% block masjs %}
      
    {% endblock masjs %}
    <script>
      $(document).foundation();
    </script>
    {% block scriptjs %}
      
    {% endblock scriptjs %}


  </body>
</html>