{% extends "base/basefn.html" %}
{% load staticfiles %}
{% block header %}
<div data-sticky-container class="show-for-medium">
  <div class="title-bar" data-sticky data-options="marginTop:0.001;" style="width:100%; background:white; color:black;">
		<header>
			<section class="logotec text-center">
				<img src="{% static "img/logos/header2016.jpg"%}">
			</section>
			<section class="top-bar">
			  <nav class="top-bar-left">
			    <ul class="menu" data-dropdown-menu>
			      <li class="menu-text"><i id="menutec" class="menu-icon" data-toggle="offCanvas"></i>  Tutorias TECNM</li>
			    </ul>
			  </nav>
			  <nav class="top-bar-right">
			    <ul class="menu">

						{% if  user.is_anonymous%}
						<li><a href="/login" title="Acceder">Acceder</a></li>
						{% endif %}

						{% if user.is_staff%}
						<li><a href="/admin" title="Admin"><i class="it-user-tie"></i></a></li>
						<li><a href="/log_out" title="Cerrar Sesión"><i class="it-switch"></i></a></li>
						{% endif %}

						{% if not user.is_staff and not user.is_anonymous%}
						<li><a href="/alumno/perfil" title="Perfil"><i class="it-user"></i></a></li>
						<li><a href="/anexos" title="Anexos"><i class="it-books"></i></a></li>
						<li><a href="/log_out" title="Cerrar Sesión"><i class="it-switch"></i></a></li>
						{% endif %}

			      <li><a href="/contacto"><i class="it-phone"></i></a></li>
			    </ul>
			  </nav>
			</section>
		</header>
  </div>
</div>

<header class="show-for-small-only">
	<section class="logotec text-center">
		<img src="{% static "img/logos/header2016.jpg"%}">
	</section>
	<section class="top-bar">
		<nav class="top-bar-left">
			<ul class="menu" data-dropdown-menu>
				<li class="menu-text"><i id="menutec" class="menu-icon" data-toggle="offCanvas"></i>  Tutorias TECNM</li>
			</ul>
		</nav>
		<nav class="top-bar-right">
			<ul class="menu">

				{% if  user.is_anonymous%}
				<li><a href="/login" title="Acceder">Acceder</a></li>
				{% endif %}

				{% if user.is_staff%}
				<li><a href="/admin" title="Admin"><i class="it-user-tie"></i></a></li>
				<li><a href="/log_out" title="Cerrar Sesión"><i class="it-switch"></i></a></li>
				{% endif %}

				{% if not user.is_staff and not user.is_anonymous%}
				<li><a href="/alumno/perfil" title="Perfil"><i class="it-user"></i></a></li>
				<li><a href="/anexos" title="Anexos"><i class="it-books"></i></a></li>
				<li><a href="/log_out" title="Cerrar Sesión"><i class="it-switch"></i></a></li>
				{% endif %}

				<li><a href="#" title="Contáctanos"><i class="it-phone"></i></a></li>
			</ul>
		</nav>
	</section>
</header>

{% endblock header %}
{% block footer %}
	<footer class="row">
		<article class="small-12 columns">
			<h7>Proyecto de tutorias del TecNM Copyright 2016</h7>
		</article>
	</footer>
{% endblock footer %}
