{% extends "base/base_2.html" %}
{% load staticfiles %}
{% block header %}

		<header class="show-for-medium">
			<section class="logotec text-center">
				<img src="{% static "img/logos/header2016.jpg"%}">
			</section>
			<section class="top-bar">
			  <nav class="top-bar-left">
			    <ul class="menu" data-dropdown-menu>
			      <li class="menu-text"> Tutorias TECNM</li>
			    </ul>
			  </nav>
			  <nav class="top-bar-right">
			    <ul class="menu">

						{% if  user.is_anonymous%}
						<li><a href="/login" title="Acceder">Acceder</a></li>
						{% endif %}

						{% if user.is_staff%}
						<li><a href="/admin" title="Admin"><i class="it-user-tie"> Administrador</i></a></li>
						<li><a href="/log_out" title="Cerrar Sesión"><i class="it-switch"> Cerrar Sesión</i></a></li>
						{% endif %}

						{% if not user.is_staff and not user.is_anonymous%}
						<li><a class="menu-texto" href="/alumno/perfil" title="Perfil"><i class="it-user"> Perfil</i></a></li>
            <li>
              <a class="menu-texto" href="/anexos/" title="Anexos"><i class="it-file-text2"> Anexos</i></a>
            </li>
            <li><a class="menu-texto" href="/actividades/" title="Actividades"><i class="it-checkmark"> Actividades</i></a></li>
						<li><a class="menu-texto" href="/log_out" title="Cerrar Sesión"><i class="it-switch"> Cerrar Sesión</i></a></li>
						{% endif %}

			      <li><a class="menu-texto" href="/contacto"><i class="it-phone"> Contacto</i></a></li>
			    </ul>
			  </nav>
			</section>
		</header>
  </div>
</div>

<header class="show-for-small-only">
	<section class="logotec text-center">
		<img src="{% static "img/logos/header2016.jpg"%}">
	</section>
	<section class="top-bar">
		<nav class="top-bar-left">
			<ul class="menu" data-dropdown-menu>
				<li class="menu-text"> Tutorias TECNM</li>
			</ul>
		</nav>
		<nav class="top-bar-right">
			<ul class="menu">

				{% if  user.is_anonymous%}
				<li><a href="/login" title="Acceder"></a></li>
				{% endif %}

				{% if user.is_staff%}
				<li><a href="/admin" title="Admin"><i class="it-user-tie"></i></a></li>
				<li><a href="/log_out" title="Cerrar Sesión"><i class="it-switch"></i></a></li>
				{% endif %}

				{% if not user.is_staff and not user.is_anonymous%}
				<li><a href="/alumno/perfil" title="Perfil"><i class="it-user"></i></a></li>
        <li><a href="/anexos/" title="Anexos"><i class="it-file-text2"></i></a></li>
        <li><a href="/alumno/perfil" title="Actividades"><i class="it-checkmark"></i></a></li>
				<li><a href="/log_out" title="Cerrar Sesión"><i class="it-switch"></i></a></li>
				{% endif %}

				<li><a href="#" title="Contáctanos"><i class="it-phone"></i></a></li>
			</ul>
		</nav>
	</section>
</header>

{% endblock header %}
{% block footer %}
	<footer class="row">
		<article class="small-12 columns">
			<h7>Proyecto de tutorias del TecNM Copyright 2016</h7>
		</article>
	</footer>
{% endblock footer %}
