<!doctype html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Tutorias{% endblock title %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/vendor/foundation.css"%}" />
    <link rel="stylesheet" href="{% static "css/src/icomoon.css"%}" />
    <link rel="stylesheet" href="{% static "css/src/main.css"%}" />
    {% block mascss %}

    {% endblock mascss %}
  </head>
  <body>
    {% if not user.is_anonymous and not user.is_staff%}
    <div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
      <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
        <button class="close-button" aria-label="Close menu" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      <ul class="vertical menu">
      <section class="row">
        <div class="columns padding-top">
          <img src="{% static "img/2.png"%}" alt="" />
          <h5>Bienvenido {{user.username}}</h5>
        </div>
      </section>
        <ul>
          <li class="padding-top"><i class="it-home"></i><a href="/home">  Home</a></li>
          <li class="padding-top"><i class="it-profile"></i><a href="/alumno/perfil">  Perfil</a></li>
          <li class="padding-top"><i class="it-books"></i><a href="/anexos">  Anexos</a></li>
          <li class="padding-top"><i class="it-user"></i><a href="#">  Actividades</a></li>
          <li class="padding-top"><i class="it-user"></i><a href="#">  Ayuda</a></li>
          <li class="padding-top"><i class="it-switch"></i><a href="/log_out">  Cerrar Sesión</a></li>
          <li class="padding-top"><i class="it-phone"></i><a href="#">  Contacto</a></li>
        </ul>
      </ul>
      </div>
      <div class="off-canvas-content" data-off-canvas-content>
      {%endif%}
        {% block header %}

        {% endblock header %}


        {% block contenido %}

        {% endblock contenido %}


        {% block footer %}

        {% endblock footer %}
    {% if  user.is_anonymous%}
    </div>
    </div>
    </div>
    {%endif%}

    <script src="{% static "js/vendor/jquery.min.js"%}"></script>
    <script src="{% static "js/vendor/what-input.min.js"%}"></script>
    <script src="{% static "js/vendor/foundation.min.js"%}"></script>

    {% block masjs %}

    {% endblock masjs %}

    <script>
      $(document).foundation();
    </script>

    {% block scriptjs %}

    {% endblock scriptjs %}


  </body>
</html>
