<!doctype html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Tutorias{% endblock title %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/vendor/foundation.css"%}" />
    <link rel="stylesheet" href="{% static "css/src/icomoon.css"%}" />
    <link rel="stylesheet" href="{% static "css/src/main.css"%}" />
    {% block mascss %}

    {% endblock mascss %}
  </head>
  <body>
    {% if not user.is_anonymous%}
    <div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
      <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
        <button class="close-button" aria-label="Close menu" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      <ul class="vertical menu">
         <li><a href="#">Foundation</a></li>
         <li><a href="#">Dot</a></li>
         <li><a href="#">ZURB</a></li>
         <li><a href="#">Com</a></li>
         <li><a href="#">Slash</a></li>
         <li><a href="#">Sites</a></li>
      </ul>
      </div>
      <div class="off-canvas-content" data-off-canvas-content>
      {%endif%}
        {% block header %}

        {% endblock header %}


        {% block contenido %}

        {% endblock contenido %}


        {% block footer %}

        {% endblock footer %}
    {% if  user.is_anonymous%}
    </div>
    </div>
    </div>
    {%endif%}

    <script src="{% static "js/vendor/jquery.min.js"%}"></script>
    <script src="{% static "js/vendor/what-input.min.js"%}"></script>
    <script src="{% static "js/vendor/foundation.min.js"%}"></script>

    {% block masjs %}

    {% endblock masjs %}
    <script>
      $(document).foundation();
    </script>
    {% block scriptjs %}

    {% endblock scriptjs %}


  </body>
</html>
